$grid-width: 1200px;
$grid-count: 12;
$grid-gutter: 12px;

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/figures";
@import "partials/grids";