$grid-width: 1170px;
$grid-count: 12;
$grid-gutter: 12px;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/figures";
@import "partials/grids";
@import "partials/theme";

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

.navbar{
	width: 100%;
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}

.navbar-fixed-top, .navbar-fixed-bottom{
	position: fixed;
	right: 0;
	left:0;
	z-index: 1030;
}

.navbar-fixed-top{
	top:0;
}

.navbar-fixed-bottom{
	bottom:0;
}