@import 'modules/utility';

.container{
	margin: 0 auto;
	padding:0 $grid-gutter;
	width: 100%;
}

.row:before, .row:after, .container:before, .container:after{
    content:"";
    display: table;
    clear: both;
}

.row{
	margin-right: -$grid-gutter;
    margin-left: -$grid-gutter;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 100%;
    padding:0 $grid-gutter;
}

@for $i from 1 through $grid-count{
	.#{col-xs}-#{$i}{
		width: (100 / $grid-count) * $i + %; 
	}
}

@media (min-width: 768px){
	.container {
	    width: 750px;
	}

	@for $i from 1 through $grid-count{
		.#{col-sm}-#{$i}{
			width: (100 / $grid-count) * $i + %; 
		}
	}	
}

@media (min-width: 992px){
	.container {
	    width: 970px;
	}

	@for $i from 1 through $grid-count{
		.#{col-md}-#{$i}{
			width: (100 / $grid-count) * $i + %; 
		}
	}
}

@media (min-width: 1200px){
	.container {
	    width: $grid-width;
	}

	@for $i from 1 through $grid-count{
		.#{col-lg}-#{$i}{
			width: (100 / $grid-count) * $i + %; 
		}
	}
}
