$primary-color: #2196F3;
$primary-color-dark: #1976D2;
$primary-color-light: #BBDEFB;
$text-icons: #FFFFFF;
$accent-color: #FF5722;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color:#B6B6B6;